<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title first project ></title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  
<body>

    <div ng-app="myApp" ng-controller="myCtrl">

      First Name: <input type="text" ng-model="firstName"><br>
      Last Name: <input type="text" ng-model="lastName"><br>
      day: <input type="text" ng-model="day">
      month: <input type="text" ng-model="month">
      year: <input type="text" ng-model="year">
      <br>
      Full Name: {{firstName + " " + lastName}}<br>
      Age:{{2023 -year+23 -day+1 -month}}
      </div>
      
      <script>
      var app = angular.module('myApp', []);
      app.controller('myCtrl', function($scope) {
        $scope.firstName= "";
        $scope.lastName= "";
        $scope.year= "";
        $scope.month= "";
        $scope.day= "";
      });
      </script>
    

</body>
</html>
